---
import Image from "./Image.astro";

export interface Props {
    profilePhotoUrl: string;
}

const { profilePhotoUrl } = Astro.props;
---

<div class="circular-photo">
    <Image imageUrl={profilePhotoUrl} altText="Profile Photo" circular={true} />
</div>
